# api
VITE_API_URL=your api url

# stripe credentials
VITE_STRIPE_PUBLIC_KEY=your stripe public key
VITE_STRIPE_SECRET_KEY=your stripe secret key

# This is for the firebase config
VITE_FIREBASE_API_KEY=fill this
VITE_FIREBASE_AUTH_DOMAIN=fill this
VITE_FIREBASE_PROJECT_ID=fill this
VITE_FIREBASE_STORAGE_BUCKET=fill this
VITE_FIREBASE_MESSAGING_SENDER_ID=fill this
VITE_FIREBASE_APP_ID=fill this