DATABASE_URL=your postgresql db url (or you can opt for the local service with the required env variables)
CLIENT_URL= your client url
PORT=4000

SECRET_KEY=kindly generate a strong key
EXPIRES_IN_SECRET_KEY=5000s

STRIPE_PUBLIC_KEY=your stripe public key
STRIPE_SECRET_KEY=your stripe secret key

MAIL_SENDER=your mail sender (ex: xxxx@gmail.com)
MAIL_APPILCATION_PASSWORD= this is not your account's normal password, it is called application password, you can refer to it in the docs
MAIL_DOMAIN=gmail